<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%-3p] %x  %c{1}:  %m%n" />
		</Console>
		<!-- 
		<NoSql name="redis" > 
			<Redis queueName="mylogs1" >
				<configureURL><![CDATA[redis://127.0.0.1:6379?maxIdle=6&minIdle=3&maxActive=20&timeout=1000]]></configureURL>
			</Redis>
		</NoSql> -->
		<Async name="Async">
			<AppenderRef ref="CONSOLE"/> 
			<!-- <AppenderRef ref="redis"/> -->  
		</Async>
	</Appenders>

	<Loggers>
		<Root level="info" includeLocation="true">
			<AppenderRef ref="Async" />
		</Root>
	</Loggers>
</Configuration>